@using Ppgz.Repository
@model Ppgz.Web.Areas.Dap.Models.ComponenteMecanicoViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2 class="form-signin-heading">REPORTE DE COMPONENTES MECANICOS</h2>
@*<p class="page-description-title"><i class="fa fa-info" aria-hidden="true"></i> <i>Muestra los reportes de fallas</i></p>*@


<div class="panel panel-default">
    <div class="panel-heading">COMPONENTES MECANICOS REGISTRADOS</div>
    <div class="panel-body">
       
        <table class="table table-striped" id="mensajes">
            <thead>
                <tr>
                   
                    <th class="text-center">TIPO</th>
                    <th class="text-center">CARACTERISTICAS</th>
                  
                    <th class="text-center">MARCA</th>
                    <th class="text-center">MODELO</th>
                    <th class="text-center">SERIAL</th>
                    <th class="text-center">FECHA FABRICADO</th>
                    <th class="text-center">FECHA ALERTA</th>
                    <th class="text-center">FECHA VENCIMIENTO</th>
                    @*<th class="text-center">Sustitución</th>*@
                   
                </tr>
            </thead>
            <tbody>
                @foreach (var componentemecanico in (ViewBag.componentesmecanicos))
                {
                    <tr>
                        
                        <td class="text-center vert-align">@componentemecanico.Tipo</td>
                        <td class="text-center vert-align">@componentemecanico.Caracteristicas</td>
                      
                        <td class="text-center vert-align">@componentemecanico.Marca</td>
                        <td class="text-center vert-align">@componentemecanico.Modelo</td>
                        <td class="text-center vert-align">@componentemecanico.Serial</td>
                        @if (componentemecanico.FechaFabricado != null)
                        {
                            <td class="text-center vert-align">@componentemecanico.FechaFabricado.ToString("dd/MM/yyyy")</td>
                        }
                        else
                        {
                            <td class="text-center vert-align"></td>
                        }
                        @if (componentemecanico.FechaAlerta != null)
                        {
                            <td class="text-center vert-align">@componentemecanico.FechaAlerta.ToString("dd/MM/yyyy")</td>
                        }
                        else
                        {
                            <td class="text-center vert-align"></td>
                        }
                        @if (componentemecanico.Duracion != null)
                        {
                            <td class="text-center vert-align">@componentemecanico.Duracion.ToString("dd/MM/yyyy")</td>
                        }
                        else
                        {
                            <td class="text-center vert-align"></td>
                        }
                        @*<td class="text-center vert-align">@componentemecanico.Sustitucion</td>*@
                    </tr>
                }



            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">


        $(document).ready(function () {
            $('#mensajes').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json"
                },
                "lengthMenu": [[10, 25, 50, 100, 500, 1000, 5000, -1], [10, 25, 50, 100, 500, 1000, 5000, "Todos"]]
            });
        });


    </script>
}