@model Ppgz.Web.Areas.Dap.Models.GestionObraViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="form-signin-heading">GESTION DE OBRAS</h2>
@*<p class="page-description-title"><i class="fa fa-info" aria-hidden="true"></i> <i>Crear Gestión de obras</i></p>*@


<div class="panel panel-default">
    <div class="panel-heading"></div>
    <div class="panel-body">
        @using (Html.BeginForm("Crear", "AdministrarGestionObras", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "form", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true)
           
            <div class="form-group">

                <label for="primercontacto" class="col-sm-4 control-label">PRIMERO&nbsp;CONTACTO&nbsp;EN&nbsp;OBRAS</label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.primercontacto, new { @class = "form-control" })
                    @*@Html.ValidationMessageFor(m => m.primercontacto)*@
                </div>
            </div>

                <div class="form-group">

                    <label for="contactotelefonicoobra" class="col-sm-4 control-label">CONTACTO&nbsp;TELEFONICO&nbsp;OBRA</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.contactotelefonicoobra, new { @class = "form-control" })
                      
                    </div>
                </div>

                <div class="form-group">

                    <label for="correoelectronicoobra" class="col-sm-4 control-label">CORREO&nbsp;ELECTRONICO&nbsp;OBRA</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.correoelectronicoobra, new { @class = "form-control" })
                       
                    </div>
                </div>
                <div class="form-group">

                    <label for="cargoobra" class="col-sm-4 control-label">CARGO&nbsp;EN&nbsp;OBRA</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.cargoobra, new { @class = "form-control" })
                       
                    </div>
                </div>

               

                <div class="form-group">

                    <label for="nombreconstructora" class="col-sm-4 control-label">NOMBRE&nbsp;DE&nbsp;CONSTRUCTORA</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.nombreconstructora, new { @class = "form-control" })
                       
                    </div>
                </div>

                <div class="form-group">

                    <label for="contactotelefonicoempresa" class="col-sm-4 control-label">CONTACTO&nbsp;TELEFONICO&nbsp;EMPRESA</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.contactotelefonicoempresa, new { @class = "form-control" })
                        
                    </div>
                </div>

                <div class="form-group">

                    <label for="correoelectronicoempresa" class="col-sm-4 control-label">CORREO&nbsp;ELECTRONICO&nbsp;EMPRESA</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.correoelectronicoempresa, new { @class = "form-control" })
                      
                    </div>
                </div>

                <div class="form-group">

                    <label for="cargoempresa" class="col-sm-4 control-label">CARGO&nbsp;EMPRESA</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.cargoempresa, new { @class = "form-control" })
                        
                    </div>
                </div>

                <div class="form-group">

                    <label for="direccionoficina" class="col-sm-4 control-label">DIRECCIÓN&nbsp;DE&nbsp;OFICINA</label>
                    <div class="col-sm-4">
                        @Html.TextAreaFor(m => m.direccionoficina, new { @class = "form-control" })
                        
                    </div>
                </div>

               

                <div class="form-group">

                    <label for="ubicacionobra" class="col-sm-4 control-label">UBICACIÓN&nbsp;DE&nbsp;OBRA</label>
                    <div class="col-sm-4">
                        @Html.TextAreaFor(m => m.ubicacionobra, new { @class = "form-control", style = "width: 700px; height:150px;" })
                      
                    </div>
                </div>

                <div class="form-group">

                    <label for="tipoobra" class="col-sm-4 control-label">TIPO&nbsp;DE&nbsp;OBRA</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.tipoobra, new { @class = "form-control" })
                      
                    </div>
                </div>

                <div class="form-group">

                    <label for="numeroequipos" class="col-sm-4 control-label">NUMERO&nbsp;DE&nbsp;EQUIPOS</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.numeroequipos, new { @class = "form-control" })
                       
                    </div>
                </div>

                <div class="form-group">

                    <label for="tipoequipo" class="col-sm-4 control-label">TIPO&nbsp;DE&nbsp;EQUIPOS</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.tipoequipo, new { @class = "form-control" })
                        
                    </div>
                </div>

             


                <div class="form-group">

                    <label for="vendidasclimb" class="col-sm-4 control-label">VENDIDAD&nbsp;POR&nbsp;CLIMB</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.vendidasclimb, new { @class = "form-control" })
                        
                    </div>
                </div>

                <div class="form-group">

                    <label for="vendidasotros" class="col-sm-4 control-label">VENDIDAD&nbsp;POR&nbsp;OTROS</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.vendidasotros, new { @class = "form-control" })
                       
                    </div>
                </div>
                <div class="form-group">

                    <label for="novendidas" class="col-sm-4 control-label">NO&nbsp;VENDIDAS</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.novendidas, new { @class = "form-control" })
                     
                    </div>
                </div>

                <div class="form-group">

                    @Html.LabelFor(m => m.paralizadas, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.paralizadas, new { @class = "form-control" })
                        
                    </div>
                </div>


            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-7">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-user-plus" aria-hidden="true"></i> GUARDAR</button>
                    <a class="btn btn-default" href="@Url.Action("Index", "AdministrarGestionObras")"><i class="fa fa-undo" aria-hidden="true"></i> CANCELAR</a>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}