@model Ppgz.Web.Areas.Dap.Models.MantenimientoPreventivoViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="form-signin-heading"> Mantenimiento preventivo</h2>
@*<p class="page-description-title"><i class="fa fa-info" aria-hidden="true"></i> <i>Editar Mantenimiento preventivo</i></p>*@


<div class="panel panel-default">
    <div class="panel-heading">Formulario de detalle</div>
    <div class="panel-body">
        @using (Html.BeginForm("Editar", "AdministrarMantenimientosPreventivos", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "form", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true)
            <div class="form-group">

                <div class="form-group">
                    @Html.LabelFor(c => c.Tipo, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-4">
                        @Html.DropDownListFor(c => c.Tipo, (IEnumerable<SelectListItem>)ViewBag.Equipo_Tipo, "Seleccione un Valor", new { @class = "form-control", @readonly = true })
                        
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PersonaJuridica, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.PersonaJuridica, new { @class = "form-control", @readonly = true })
                       
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.FechaVisita, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.FechaVisita, new { @class = "form-control fecha-hora", @type = "datetime", @readonly = true })
                       
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.FechaPublicacion, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.FechaPublicacion, new { @class = "form-control fecha-hora", @type = "datetime", @readonly = true })
                        
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NombreDocumento, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.NombreDocumento, new { @class = "form-control", @readonly = true })
                       
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Tecnico, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Tecnico, new { @class = "form-control", @readonly = true })
                       
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.EquiposAtendidos, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.EquiposAtendidos, new { @class = "form-control", @readonly = true })
                      
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.StatusMantenimiento, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-4">
                        @Html.DropDownListFor(m => m.StatusMantenimiento, (IEnumerable<SelectListItem>)ViewBag.StatusMantenimiento2, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Descripcion, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-4">
                        @Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control", @readonly = true, style = "width: 700px; height:150px;" })
                        @*@Html.ValidationMessageFor(m => m.Descripcion)*@
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Archivo</label>
                    <div class="col-sm-4">
                        <div>
                            @foreach (var Archivos in (ViewBag.Archivos))
                            {
                                var nombrearchivo = Archivos.url.Replace("~/Uploads/", "");

                                // nombrearchivo = nombrearchivo.Replace(".docx", "");
                                <p>
                                    <a style="font-size:15px;" class="fa fa-file-word-o fa-1x" href="@Url.Content(Archivos.url)" target="_blank">@nombrearchivo</a>
                                    
                                </p>

                            }
                           

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Evaluación</label>
                    <div class="col-sm-4">
                        <div>
                            @foreach (var Evaluaciones in (ViewBag.Evaluaciones))
                            {
                                var nombrearchivo = Evaluaciones.url.Replace("~/Uploads/", "");

                                // nombrearchivo = nombrearchivo.Replace(".docx", "");
                                <p>
                                    <a style="font-size:15px;" class="fa fa-file-word-o fa-1x" href="@Url.Content(Evaluaciones.url)" target="_blank">@nombrearchivo</a>
                                    
                                </p>

                            }
                           

                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(m => m.HoraLlegada, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.HoraLlegada, new { @class = "form-control hora" })
                        @Html.ValidationMessageFor(m => m.HoraLlegada)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.HoraSalida, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.HoraSalida, new { @class = "form-control hora" })
                        @Html.ValidationMessageFor(m => m.HoraSalida)
                    </div>
                </div>
            </div>

            @*<div class="form-group">
                @Html.LabelFor(m => m.FechaPublicacion, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-7">
                    @Html.TextBoxFor(m => m.FechaPublicacion, new { @class = "form-control fecha-hora", @type = "datetime" })
                    @Html.ValidationMessageFor(m => m.FechaPublicacion)
                </div>
            </div>*@
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-7">
                    @*<button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
                    <a class="btn btn-default" href="@Url.Action("Index", "AdministrarMantenimientosPreventivos")"><i class="fa fa-undo" aria-hidden="true"></i> Cancelar</a>*@
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
       
        $(document).ready(function () {

            $('.fecha-hora').datetimepicker({
                locale: 'es',

                format: 'DD/MM/YYYY',
                showClose: true,
                sideBySide: true
            });
            $('.hora').datetimepicker({
                locale: 'es',

                format: 'HH:mm A',
                showClose: true,
                sideBySide: true
            });


            $('<input />').attr('type', 'hidden')
                          .attr('name', "Pdf")
                          .attr('value', "pdf")
                          .appendTo('#form');
            $('<input />').attr('type', 'hidden')
                         .attr('name', "Pdf-evaluacion")
                         .attr('value', "pdf-evaluacion")
                         .appendTo('#form');
        });
    </script>



}