@model Ppgz.Web.Areas.Dap.Models.SugerenciaViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="form-signin-heading">Editar Reporte Sugerencias</h2>
@*<p class="page-description-title"><i class="fa fa-info" aria-hidden="true"></i> <i>Editar Reporte de sugerencias</i></p>*@


<div class="panel panel-default">
    <div class="panel-heading">Formulario de edición</div>
    <div class="panel-body">
        @using (Html.BeginForm("Editar", "AdministrarSugerencias", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "form", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true)
            <div class="form-group">

                <div class="form-group">
                    @Html.LabelFor(s => s.Descripcion, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(s => s.Descripcion, new { @class = "form-control" })
                        @Html.ValidationMessageFor(s => s.Descripcion)
                    </div>
                </div>
                @*<div class="form-group">
                    @Html.LabelFor(s => s.Numero, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(s => s.Numero, new { @class = "form-control" })
                        @Html.ValidationMessageFor(s => s.Numero)
                    </div>
                </div>*@
                <div class="form-group">
                    @Html.LabelFor(s => s.Fecha, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(s => s.Fecha, new { @class = "form-control fecha-hora", @type = "datetime" })
                        @Html.ValidationMessageFor(s => s.Fecha)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(s => s.AccionesTomadas, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-4">
                        @Html.TextAreaFor(s => s.AccionesTomadas, new { @class = "form-control", style = "width: 700px; height:150px;" })
                        @Html.ValidationMessageFor(s => s.AccionesTomadas)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(s => s.AccionesRecomendadas, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-4">
                        @Html.TextAreaFor(s => s.AccionesRecomendadas, new { @class = "form-control", style = "width: 700px; height:150px;" })
                        @Html.ValidationMessageFor(s => s.AccionesRecomendadas)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(s => s.GerenciaResponsable, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(s => s.GerenciaResponsable, new { @class = "form-control" })
                        @Html.ValidationMessageFor(s => s.GerenciaResponsable)
                    </div>
                </div>
            </div>

            @*<div class="form-group">
                @Html.LabelFor(m => m.FechaPublicacion, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-7">
                    @Html.TextBoxFor(m => m.FechaPublicacion, new { @class = "form-control fecha-hora", @type = "datetime" })
                    @Html.ValidationMessageFor(m => m.FechaPublicacion)
                </div>
            </div>*@
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-7">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
                    <a class="btn btn-default" href="@Url.Action("Index", "AdministrarSugerencias")"><i class="fa fa-undo" aria-hidden="true"></i> Cancelar</a>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
       
        $(document).ready(function () {

            $('.fecha-hora').datetimepicker({
                locale: 'es',

                format: 'DD/MM/YYYY',
                showClose: true,
                sideBySide: true
            });


            $('<input />').attr('type', 'hidden')
                          .attr('name', "Pdf")
                          .attr('value', "pdf")
                          .appendTo('#form');

        });
    </script>



}