@using Ppgz.Repository
@model Ppgz.Web.Areas.Dap.Models.RequerimientoViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2 class="form-signin-heading">Reporte de Requerimientos</h2>


<div class="panel panel-default">
    <div class="panel-heading">Requerimientos Registrados</div>
    <div class="panel-body">
        <table class="table table-striped" id="mensajes">
            <thead>
                <tr>
                  
                    <th class="text-center">Obra</th>
                    <th class="text-center">Tipo</th>
                    <th class="text-center">Fecha de Solicitud</th>
                    <th class="text-center">Gerencia Responsable</th>
                    <th class="text-center">Técnicos</th>
                    <th class="text-center">Estatus de Requerimiento</th>
                    <th class="text-center">Fecha de Cumplimiento de Solicitud</th>
                   
                    <th class="text-center">Acciones Ejecutadas</th>

                    
            </thead>
            <tbody>
                @foreach (var requerimiento in (ViewBag.Requerimientos))
                {
                    <tr>
                      
                        <td class="text-center vert-align h4">@requerimiento.Obra</td>
                        <td class="text-center vert-align">@requerimiento.Tipo</td>
                        @if (requerimiento.FechaSolicitud != null)
                        {
                            <td class="text-center vert-align">@requerimiento.FechaSolicitud.ToString("dd/MM/yyyy")</td>
                        }
                        else
                        {
                            <td class="text-center vert-align"></td>
                        }
                        <td class="text-center vert-align">@requerimiento.GerenciaResponsable</td>
                        <td class="text-center vert-align">@requerimiento.Tecnicos</td>
                        <td class="text-center vert-align">@requerimiento.StatusRequerimiento</td>
                        @if (requerimiento.FechaCumplimientoSolicitud != null)
                        {
                            <td class="text-center vert-align">@requerimiento.FechaCumplimientoSolicitud.ToString("dd/MM/yyyy")</td>
                        }
                        else
                        {
                            <td class="text-center vert-align"></td>
                        }

                        <td class="text-center vert-align">@requerimiento.AccionesEjecutadas</td>

                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">


        $(document).ready(function () {
            $('#mensajes').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json"
                },
                "lengthMenu": [[10, 25, 50, 100, 500, 1000, 5000, -1], [10, 25, 50, 100, 500, 1000, 5000, "Todos"]]
            });
        });


    </script>
}