@using Ppgz.Repository
@model Ppgz.Web.Areas.Dap.Models.EnvioViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var obra = (obras)ViewBag.obra;
}

<h2 class="form-signin-heading">Envios</h2>
<a class="btn btn-info btn-md" data-toggle="modal" data-target="#detalleenvios-modal" id="" onclick="createModal('@Url.Action("ReporteEnvios", "AdministrarEnvios" , new {id=ViewBag.id })')">
    <i class="fa fa-print" aria-hidden="true"></i> IMPRIMIR
</a>
@*<p class="page-description-title"><i class="fa fa-info" aria-hidden="true"></i> <i>Muestra la lista de envios</i></p>*@
@if (ViewBag.id != null)
{
    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="location.href='@Url.Action("Historico", "AdministrarEnvios", new { @id = ViewBag.id })'">HISTÓRICO</button>
}
else
{
    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="location.href='@Url.Action("HistoricoTodos", "AdministrarEnvios")'">HISTÓRICO</button>
}
<div class="clearfix">
    @if (ViewBag.id != null)
    {

        <a href="@Url.Action("Crear", "AdministrarEnvios", new { @id = ViewBag.id })" class="btn btn-primary pull-right"><i class="fa fa-plus" aria-hidden="true"></i> CREAR ENVIO</a>

    }
    else
    {

        <a href="@Url.Action("CrearPorDefecto", "AdministrarEnvios")" class="btn btn-primary pull-right"><i class="fa fa-plus" aria-hidden="true"></i> CREAR ENVIO</a>

    }
</div>
@if(obra != null){
<div class="panel panel-default">
    <div class="panel-heading">CUENTA</div>
    <div class="panel-body">
        <div class="row">
            <label class="col-sm-2 control-label">OBRA</label>
            <div class="col-sm-3">
                <div class="h4">@obra.Nombre</div>
            </div>
           
        </div>

    </div>
</div>
}
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">ENVIOS REGISTRADOS</div>
        <div class="panel-body">

            <table class="table table-striped" id="mensajes">
                <thead>
                    <tr>
                        <th class="text-center">REPORTE</th>
                        @*<th class="text-center">Id</th>*@
                        <th class="text-center">OBRA</th>
                        <th class="text-center">TIPO DE COMPONENTE</th>
                        <th class="text-center">FECHA DE PEDIDO</th>
                        <th class="text-center">FECHA DE SALIDA</th>
                        <th class="text-center">TRACKING</th>

                        <th class="text-center">EMPRESA DE ENVÍO</th>
                        <th class="text-center">ESTATUS DE ENVÍO</th>

                        <th></th>
                </thead>
                <tbody>
                    @foreach (var envio in (ViewBag.Envios))
                    {
                        <tr>
                            <td class="text-center vert-align">

                                <div class="btn-group-vertical">
                                    <a class="btn btn-info btn-xs" data-toggle="modal" data-target="#detalle-modal" id="edit_@envio.Id" onclick="createModal('@Url.Action("Reporte", "AdministrarEnvios" , new {id=envio.Id })')">
                                        <i class="fa fa-eye" aria-hidden="true"></i> Ver
                                    </a>
                                </div>
                            </td>
                            @*<td class="text-center vert-align">@envio.Id</td>*@
                            <td class="text-center vert-align">@envio.Obra</td>
                            <td class="text-center vert-align">@envio.TipoComponente</td>
                            <td class="text-center vert-align">@envio.FechaPedido</td>
                            <td class="text-center vert-align">@envio.FechaSalida</td>
                            <td class="text-center vert-align">@envio.Tracking</td>
                            <td class="text-center vert-align">@envio.EmpresaEnvio</td>
                            <td class="text-center vert-align">@envio.StatusEnvio</td>



                            <td class="text-center">
                                <div class="btn-group-vertical">
                                    <a class="btn btn-info btn-xs" href="@Url.Action("Detalle", "AdministrarEnvios", new { @id = @envio.Id })">
                                        <i class="fa fa-eye" aria-hidden="true"></i> DETALLE
                                    </a>
                                    <a class="btn btn-warning btn-xs" href="@Url.Action("Editar", "AdministrarEnvios", new { @id = @envio.Id })">
                                        <i class="fa fa-pencil" aria-hidden="true"></i> EDITAR
                                    </a>
                                    <a class="btn btn-danger btn-xs" href="@Url.Action("Eliminar", "AdministrarEnvios", new { @id = @envio.Id })" data-toggle="confirmation" data-popout="true" data-btn-ok-label="Si" data-title="¿ESTÁ SEGURO?" data-content="EL ENVIO SERÁ ELIMINADO.">
                                        <i class="fa fa-times" aria-hidden="true"></i> ELIMINAR
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>
    <div class="modal fade" id="detalle-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" id="modelContent">
                <a style="padding:15px;" class="btn btn-info btn-xs" href="javascript:void(0)" id="imprimeenvio">
                    @*href="javascript:imprSelec('reporte')*@
                    <i class="fa fa-print" aria-hidden="true"></i> IMPRIMIR
                </a>
                <div id="reporteenvio">
                    <div class="modal-header">
                        @*<a style="float:right;" href="~/"><img src="@Url.Content("~/assets/img/slogan.png")" class="img-responsive" width="500"></a>*@
                        <a class="brand" href="~/"><img src="@Url.Content("~/assets/img/climb-190x64-org.png")" class="img-responsive" width="200"></a>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-times-circle"></i></span>
                        </button>
                        <h4 class="modal-title">REPORTE DE ENVIOS</h4>
                    </div>

                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-8 col-sm-3">
                                    <h4 style="color:darkblue;">@Html.DisplayNameFor(o => o.Obra)</h4>
                                </div>
                                <div class="col-4 col-sm-6" style="">
                                    @Html.DisplayFor(o => o.Obra)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8 col-sm-3">
                                    <h4 style="color:darkblue;">@Html.DisplayNameFor(o => o.TipoComponente)</h4>
                                </div>
                                <div class="col-4 col-sm-6" style="">
                                    @Html.DisplayFor(o => o.TipoComponente)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8 col-sm-3">
                                    <h4 style="color:darkblue;">@Html.DisplayNameFor(o => o.FechaPedido)</h4>
                                </div>
                                <div class="col-4 col-sm-6" style="">
                                    @Html.DisplayFor(o => o.FechaPedido)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8 col-sm-3">
                                    <h4 style="color:darkblue;">@Html.DisplayNameFor(o => o.FechaSalida)</h4>
                                </div>
                                <div class="col-4 col-sm-6" style="">
                                    @Html.DisplayFor(o => o.FechaSalida)
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-8 col-sm-3">
                                    <h4 style="color:darkblue;">@Html.DisplayNameFor(o => o.Tracking)</h4>
                                </div>
                                <div class="col-4 col-sm-6" style="">
                                    @Html.DisplayFor(o => o.Tracking)
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-8 col-sm-3">

                                    <h4 style="color:darkblue;">@Html.DisplayNameFor(o => o.EmpresaEnvio)</h4>
                                </div>
                                <div class="col-4 col-sm-6" style="">
                                    @Html.DisplayFor(o => o.EmpresaEnvio)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8 col-sm-3">

                                    <h4 style="color:darkblue;"> @Html.DisplayNameFor(o => o.StatusEnvio)</h4>
                                </div>
                                <div class="col-4 col-sm-6" style="">
                                    @Html.DisplayFor(o => o.StatusEnvio)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8 col-sm-3">

                                    <h4 style="color:darkblue;">@Html.DisplayNameFor(o => o.NumeroBulto)</h4>
                                </div>
                                <div class="col-4 col-sm-6" style="">
                                    @Html.DisplayFor(o => o.NumeroBulto)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8 col-sm-3">

                                    <h4 style="color:darkblue;">@Html.DisplayNameFor(o => o.PesoTotal)</h4>
                                </div>
                                <div class="col-4 col-sm-6" style="">
                                    @Html.DisplayFor(o => o.PesoTotal)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8 col-sm-3">

                                    <h4 style="color:darkblue;">@Html.DisplayNameFor(o => o.CodigoArancelario)</h4>
                                </div>
                                <div class="col-4 col-sm-6" style="">
                                    @Html.DisplayFor(o => o.CodigoArancelario)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8 col-sm-3">

                                    <h4 style="color:darkblue;">@Html.DisplayNameFor(o => o.Solicitado)</h4>
                                </div>
                                <div class="col-4 col-sm-6" style="">
                                    @Html.DisplayFor(o => o.Solicitado)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8 col-sm-6">

                                    <h4 style="color:darkblue;">@Html.DisplayNameFor(o => o.CostoProducto)</h4>
                                </div>
                                <div class="col-4 col-sm-6" style="float:right;">
                                    @Html.DisplayFor(o => o.CostoProducto)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8 col-sm-3">

                                    <h4 style="color:darkblue;">@Html.DisplayNameFor(o => o.StatusPago)</h4>
                                </div>
                                <div class="col-4 col-sm-6" style="">
                                    @Html.DisplayFor(o => o.StatusPago)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8 col-sm-3">

                                    <h4 style="color:darkblue;">@Html.DisplayNameFor(o => o.NumeroFactura)</h4>
                                </div>
                                <div class="col-4 col-sm-6" style="">
                                    @Html.DisplayFor(o => o.NumeroFactura)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8 col-sm-3">

                                    <h4 style="color:darkblue;">@Html.DisplayNameFor(o => o.EntregaProducto)</h4>
                                </div>
                                <div class="col-4 col-sm-6" style="">
                                    @Html.DisplayFor(o => o.EntregaProducto)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8 col-sm-3">

                                    <h4 style="color:darkblue;">@Html.DisplayNameFor(o => o.FechaEntrega)</h4>
                                </div>
                                <div class="col-4 col-sm-6" style="">
                                    @Html.DisplayFor(o => o.FechaEntrega)
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">

                    </div>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
                    <script type="text/javascript">

                        function imprSelecEnvio(muestra) {
                            var ficha = document.getElementById(muestra);
                            var ventimp = window.open(' ', 'popimpr');
                            ventimp.document.write(ficha.innerHTML);
                            ventimp.document.close();
                            ventimp.print();
                            ventimp.close();
                        }
                    </script>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="detalleenvios-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" id="modelContent" style="width:1000px;">
                @*<a class="text-uppercase" id="download">Imprimir</a>*@
                @*<a class="" href="javascript:imprSelec('reporte')">Imprimir</a>*@
                <a style="padding:15px;" class="btn btn-info btn-xs" href="javascript:void(0)" id="imprime">
                    @*href="javascript:imprSelec('reporte')*@
                    <i class="fa fa-print" aria-hidden="true"></i> IMPRIMIR
                </a>
                <div id="reporte">

                    <div class="modal-header">
                 
                        <a class="brand" href="~/"><img src="@Url.Content("~/assets/img/climb-190x64-org.png")" class="img-responsive" width="200"></a>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-times-circle"></i></span>
                        </button>
                        <h4 class="modal-title">REPORTE DE ENVIOS</h4>
                    </div>


                    <div class="responsive-table">
                        <div class="container-fluid">

                            <div class="panel panel-default">
                                <div class="panel-heading">ENVIOS REGISTRADOS</div>
                                <div class="panel-body">
                                    <table class="table table-striped" id="mensajesmodal">
                                        <thead>
                                            <tr>
                                                @*<th class="text-center">Id</th>*@
                                                <th class="text-center">OBRA</th>
                                                <th class="text-center">TIPO DE COMPONENTE</th>
                                                <th class="text-center">FECHA DE PEDIDO</th>
                                                <th class="text-center">FECHA DE SALIDA</th>
                                                <th class="text-center">TRACKING</th>

                                                <th class="text-center">EMPRESA DE ENVÍO</th>
                                                <th class="text-center">ESTATUS DE ENVÍO</th>

                                        </thead>
                                        <tbody>
                                            @foreach (var envio in (ViewBag.Envios))
                                            {
                                                <tr>
                                                    @*<td class="text-center vert-align">@envio.Id</td>*@
                                                    <td class="text-center vert-align">@envio.Obra</td>
                                                    <td class="text-center vert-align">@envio.TipoComponente</td>
                                                    <td class="text-center vert-align">@envio.FechaPedido</td>
                                                    <td class="text-center vert-align">@envio.FechaSalida</td>
                                                    <td class="text-center vert-align">@envio.Tracking</td>
                                                    <td class="text-center vert-align">@envio.EmpresaEnvio</td>
                                                    <td class="text-center vert-align">@envio.StatusEnvio</td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">

                    </div>

                    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

                    <script type="text/javascript">

                        function imprSelec(muestra) {
                            var ficha = document.getElementById(muestra);
                            var ventimp = window.open(' ', 'popimpr');
                            ventimp.document.write(ficha.innerHTML);
                            ventimp.document.close();
                            ventimp.print();
                            ventimp.close();
                        }
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>

    @section Scripts {

        <script type="text/javascript">
            function createModal(url) {
                $('#modelContent').load(url);

            }
        </script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PrintArea/2.4.1/jquery.PrintArea.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PrintArea/2.4.1/jquery.PrintArea.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PrintArea/2.4.1/jquery.PrintArea.min.js.map"></script>
@Scripts.Render("~/assets/vendor/dataTables-1.10.13/media/js/jquery.dataTables.min.js")
@Scripts.Render("~/assets/vendor/dataTables-1.10.13/media/js/dataTables.bootstrap.min.js")
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#imprime").click(function () {
                    $("div#reporte").printArea();
                })
                $("#imprimeenvio").click(function () {
                    $("div#reporteenvio").printArea();
                })

                $('#mensajes').DataTable({
                    "language": {
                        "url": "https://cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json"
                    },
                    "lengthMenu": [[10, 25, 50, 100, 500, 1000, 5000, -1], [10, 25, 50, 100, 500, 1000, 5000, "Todos"]]
                });
                $('#mensajesmodal').DataTable({
                    "language": {
                        "url": "https://cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json"
                    },
                    "lengthMenu": [[10, 25, 50, 100, 500, 1000, 5000, -1], [10, 25, 50, 100, 500, 1000, 5000, "Todos"]]
                });
            });
        </script>
    }
