@model Ppgz.Web.Areas.Dap.Models.EnvioViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="form-signin-heading">Editar Envios</h2>
@*<p class="page-description-title"><i class="fa fa-info" aria-hidden="true"></i> <i>Editar envios</i></p>*@

@*<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="location.href='@Url.Action("Envios", "AdministrarEnvios", new { @id = Model.obra_id })'">Volver</button>*@

<div class="panel panel-default">
    <div class="panel-heading">Formulario de edición</div>
    <div class="panel-body">
        @using (Html.BeginForm("Editar", "AdministrarEnvios", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "form", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true)
           
                <div class="form-group">
                    @Html.LabelFor(o => o.Obra, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-4">
                        @Html.DropDownListFor(o => o.Obra, (IEnumerable<SelectListItem>)ViewBag.Obras, "Seleccione un Valor", new { @class = "form-control",@disabled="disabled" })
                        @Html.ValidationMessageFor(o => o.Obra)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(f => f.TipoComponente, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(f => f.TipoComponente, new { @class = "form-control" })
                        @Html.ValidationMessageFor(f => f.TipoComponente)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(e => e.FechaPedido, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(e => e.FechaPedido, new { @class = "form-control fecha-hora", @type = "datetime" })
                        @Html.ValidationMessageFor(e => e.FechaPedido)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(e => e.FechaSalida, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(e => e.FechaSalida, new { @class = "form-control fecha-hora", @type = "datetime" })
                        @Html.ValidationMessageFor(e => e.FechaSalida)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(e => e.Tracking, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(e => e.Tracking, new { @class = "form-control" })
                        @Html.ValidationMessageFor(e => e.Tracking)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(e => e.EmpresaEnvio, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(e => e.EmpresaEnvio, new { @class = "form-control" })
                        @Html.ValidationMessageFor(e => e.EmpresaEnvio)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(e => e.StatusEnvio, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-4">
                        @Html.DropDownListFor(e => e.StatusEnvio, (IEnumerable<SelectListItem>)ViewBag.StatusEnvio2, new { @class = "form-control", @id = "confirmar" })
                        @Html.ValidationMessageFor(e => e.StatusEnvio)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(e => e.NumeroBulto, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(e => e.NumeroBulto, new { @class = "form-control" })
                        @Html.ValidationMessageFor(e => e.NumeroBulto)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(e => e.PesoTotal, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(e => e.PesoTotal, new { @class = "form-control" })
                        @Html.ValidationMessageFor(e => e.PesoTotal)
                    </div>
                </div>
                <div class="form-group">
                @Html.LabelFor(e => e.CodigoArancelario, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(e => e.CodigoArancelario, new { @class = "form-control" })
                    @Html.ValidationMessageFor(e => e.CodigoArancelario)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(e => e.Solicitado, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(e => e.Solicitado, new { @class = "form-control" })
                        @Html.ValidationMessageFor(e => e.Solicitado)

                    </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(e => e.CostoProducto, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-4">
                            @Html.TextBoxFor(e => e.CostoProducto, new { @class = "form-control" })
                            @Html.ValidationMessageFor(e => e.CostoProducto)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(e => e.StatusPago, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-4">
                            @Html.DropDownListFor(e => e.StatusPago, (IEnumerable<SelectListItem>)ViewBag.StatusPago2, new { @class = "form-control" })
                            @Html.ValidationMessageFor(e => e.StatusPago)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(e => e.NumeroFactura, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-4">
                            @Html.TextBoxFor(e => e.NumeroFactura, new { @class = "form-control" })
                            @Html.ValidationMessageFor(e => e.NumeroFactura)
                        </div>
                    </div>
                    @*<div class="form-group">
                        @Html.LabelFor(f => f.StatusEntrega, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-4">
                            @Html.DropDownListFor(f => f.StatusEntrega, (IEnumerable<SelectListItem>)ViewBag.StatusEntrega, "Seleccione un Valor", new { @class = "form-control" })
                            @Html.ValidationMessageFor(f => f.StatusEntrega)
                        </div>
                    </div>*@
                    <div class="form-group">
                        @Html.LabelFor(e => e.EntregaProducto, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-4">
                            @Html.TextBoxFor(e => e.EntregaProducto, new { @class = "form-control" })
                            @Html.ValidationMessageFor(e => e.EntregaProducto)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(e => e.FechaEntrega, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-4">
                            @Html.TextBoxFor(e => e.FechaEntrega, new { @class = "form-control fecha-hora", @type = "datetime" })
                            @Html.ValidationMessageFor(e => e.FechaEntrega)
                        </div>
                    </div>


                    <div class="modal fade" id="confirm-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Confirmar</h4>
                                </div>
                                <div class="modal-body">
                                    <p></p>
                                    <p>Esta seguro de cambiar el status de el envio</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="location.href='@Url.Action("Editar", "AdministrarEnvios", new { @id = Model.id })'">CANCELAR</button>

                                    <button id="confirm" type="submit" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> ACEPTAR</button>
                                </div>
                            </div>
                        </div>
                    </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-7">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
                    <a class="btn btn-default" href="@Url.Action("Index", "AdministrarEnvios")"><i class="fa fa-undo" aria-hidden="true"></i> Cancelar</a>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
   

    <script type="text/javascript">
       
        $(document).ready(function () {

            $("#confirmar").bind('change', function () {
                var st = this.options[this.selectedIndex].innerHTML;
                if (st == "RECIBIDO") {
                    $("#confirm-edit").modal("show");
                }

            });

            $('.fecha-hora').datetimepicker({
                locale: 'es',

                format: 'DD/MM/YYYY',
                showClose: true,
                sideBySide: true
            });

            $('<input />').attr('type', 'hidden')
                        .attr('name', "Pdf-Plano")
                        .attr('value', "Pdf-Plano")
                        .appendTo('#form');

            $('<input />').attr('type', 'hidden')
                              .attr('name', "Pdf-Fotografia")
                              .attr('value', "Pdf-Fotografia")
                              .appendTo('#form');
        

        });
    </script>

}